<%= render_notices %>

<%= render 'search' %>

<% if @careers.present? %>
  <table id="careers_table" class="grid">
    <tr>
      <th><%= User.human_attribute_name :full_name %></th>
      <th><%= User.human_attribute_name :age %></th>
      <th><%= User.human_attribute_name :gender %></th>
    </tr>

  <% @careers.each do |career| %>
    <tr>
      <td class="fullname"><%= career.user.full_name %></td>
      <td class="center"><%= career.user.age %></td>
      <td class="center"><%= career.user.gender_name %></td>
    </tr>
  <% end %>
  </table>
<% end %>