<p id="notice"><%= notice %></p>

<p>
  <b><%= Career.human_attribute_name :last_name %>:</b>
  <%= @career.last_name %>
</p>

<p>
  <b><%= Career.human_attribute_name :first_name %>:</b>
  <%= @career.first_name %>
</p>

<p>
  <b><%= Career.human_attribute_name :birthday %>:</b>
  <%= @career.birthday %>
</p>

<p>
  <b><%= Career.human_attribute_name :gender %>:</b>
  <%= @career.gender_name %>
</p>

<p>
  <b><%= Career.human_attribute_name :introduction %>:</b>
  <%= @career.introduction %>
</p>

<%= render 'show_career_details' %>

<%= link_to '編集', edit_career_path(@career) %> |
<%= link_to '戻る', careers_path %>
