<div class="career">
  <%= form_for(@career) do |f| %>
    <%= render_errors @career %>
    <%= f.hidden_field :user_id %>

    <div>
      <%= f.label :introduction %><br />
      <%= f.text_area :introduction, :rows => 8 %>
    </div>

    <%= render 'career_details_fields' %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
