<div class="career_details">
  <table class="solid">
    <tr>
      <th><%= CareerDetail.human_attribute_name :project_name %></th>
      <th><%= CareerDetail.human_attribute_name :start_date %></th>
      <th><%= CareerDetail.human_attribute_name :end_date %></th>
    </tr>

    <% @career.career_details.each do |cd| %>
      <tr>
        <td><%= cd.project_name %></td>
        <td><%= cd.start_date %></td>
        <td><%= cd.end_date %></td>
      </tr>
    <% end %>
  </table>
</div>
