<h1>Listing careers</h1>

<table>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @careers.each do |career| %>
  <tr>
    <td><%= career.last_name %></td>
    <td><%= career.first_name %></td>
    <td><%= career.birthday %></td>
    <td><%= career.gender %></td>
    <td><%= link_to 'Show', career %></td>
    <td><%= link_to 'Edit', edit_career_path(career) %></td>
    <td><%= link_to 'Destroy', career, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Career', new_career_path %>
