<p id="notice"><%= notice %></p>

<p>
  <b><%= User.human_attribute_name :last_name %>:</b>
  <%= @career.user.last_name %>
</p>

<p>
  <b><%= User.human_attribute_name :first_name %>:</b>
  <%= @career.user.first_name %>
</p>

<p>
  <b><%= User.human_attribute_name :birthday %>:</b>
  <%= @career.user.birthday %>
</p>

<p>
  <b><%= User.human_attribute_name :gender %>:</b>
  <%= @career.user.gender_name %>
</p>

<table>
  <caption><%= Career.human_attribute_name :introduction %></caption>
  <tr>
    <td><%= html_line_break(@career.introduction) %></td>
  </tr>
</table>

<%= render 'show_career_details' %>

<%= link_to '編集', edit_career_path(@career) %> |
<%= link_to '削除', @career, method: :delete, data: { confirm: "#{@career.user.full_name} さんのキャリアを削除します。よろしいですか？" } %> |
<%= link_to '戻る', careers_path %>
