<%= render_notices %>

<%= Career.human_attribute_name :introduction %>
<table class="solid">
  <tr>
    <td><%= html_line_break(@career.introduction) %></td>
  </tr>
</table>

<%= render 'show_career_details' %>

<%= link_to '編集', edit_career_path(@career) %> |
<%= link_to '削除', @career, method: :delete, data: { confirm: "#{@career.user.full_name} さんのキャリアを削除します。よろしいですか？" } %>
