<!DOCTYPE html>
<html>
<head>
  <title>Career x life</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wapper">
    <%= render 'common/header' %>
    <% if content_for?(:content) %>
      <%= yield :content %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</body>
</html>
