<!DOCTYPE html>
<html>
<head>
  <title>Career x life</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wapper">
    <%= render 'common/header' %>
    <%= yield %>
  </div>
</body>
</html>
