<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @career.name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @career.birthday %>
</p>

<p>
  <b>Gender:</b>
  <%= @career.gender %>
</p>


<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
