<div class="header_top">
  <span class="title"><%= link_to 'Career × Life', root_path %></span>

  <% unless controller_path.start_with? 'devise' %>
    <span class="personal">
      <% if user_signed_in? %>
        <span><%= current_user.full_name %> さん</span>
        <%= link_to 'プロフィール', profiles_path %>
        <%= link_to 'ログアウト', destroy_user_session_path, :method => 'delete' if user_signed_in? %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path unless user_signed_in? %>
      <% end %>
    </span>
  <% end %>
</div>
