<div class="header_top">
  <span class="title"><%= link_to 'Career × Life', root_path %></span>
  <span class="personal">
    <%= link_to 'プロフィール', profiles_path if user_signed_in? %>
    <%= link_to 'ログイン', new_user_session_path unless user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, :method => 'delete' if user_signed_in? %>
  </span>
</div>
<div class="menu">
  <%= link_to 'キャリア', careers_path if user_signed_in? %>
</div>
