<div>
  <span>
    <%= link_to 'TOP', root_path %>
    |
    <%= link_to 'キャリア', careers_path %>
  </span>
  <span style="float: right;">
    <%= link_to 'プロフィール', profiles_path if user_signed_in? %>
    <%= link_to 'ログイン', new_user_session_path unless user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, :method => 'delete' if user_signed_in? %>
  </span>
</div>
