<%
  load File.dirname(File.dirname(__FILE__)) + '/git.rb'
  git = Daddy::Git.new
  title = ENV['TITLE'].sub(' ', '_').downcase
-%>

<script>
  $(document).ready(function() {
    $('.contents').css('margin-left', $('#menu').width());

    $('.sprint').mouseover(function() {
      $(this).css('background', '#F0F8FF').css('cursor', 'pointer');
    }).mouseout(function() {
      $(this).css('background', '#FFFFFF');
    }).click(function() {
      $(this).nextAll('.sub_menu').toggle(250);
    });

    $('.current').click();
  });
</script>

<% git.branches.each do |b| %>
  <ol>
    <% if b == 'master' %>
      <li class="sprint <%= 'current' if b == git.current_branch %>">
        <%= '最新' %>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="/<%= title %>/">開発日記</a>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="/<%= title %>/master/spec/">仕様書</a>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="/<%= title %>/master/coverage/rcov/" target="_blank">カバレッジ</a>
      </li>
    <% else %>
      <li class="sprint <%= 'current' if b == git.current_branch %>">
        <%= 'スプリント ' + b.gsub(/[a-zA-Z]*/, '') %>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="/<%= title %>/<%= b %>/spec/">仕様書</a>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="/<%= title %>/<%= b %>/coverage/rcov/" target="_blank">カバレッジ</a>
      </li>
    <% end %>
  </ol>
<% end %>
