<%
  load File.dirname(File.dirname(__FILE__)) + '/git.rb'
  git = Daddy::Git.new
-%>

<script>
  $(document).ready(function() {
    $('.contents').css('margin-left', $('#menu').width());

    $('.sprint').mouseover(function() {
      $(this).css('background', '#F0F8FF').css('cursor', 'pointer');
    }).mouseout(function() {
      $(this).css('background', '#FFFFFF');
    }).click(function() {
      $(this).nextAll('.sub_menu').toggle(250);
    });

    $('.current').click();
  });
</script>

<% git.branches.each do |b| %>
  <ol>
    <% if b == 'master' %>
      <li class="sprint <%= 'current' if b == git.current_branch %>">
        <%= '最新' %>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="../../master/diary/diary.html">開発日記</a>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="../../master/spec/index.html">仕様書</a>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="../../master/coverage/rcov/index.html" target="_blank">カバレッジ</a>
      </li>
    <% else %>
      <li class="sprint <%= 'current' if b == git.current_branch %>">
        <%= 'スプリント ' + b.gsub(/[a-zA-Z]*/, '') %>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="../../<%= b %>/spec/index.html">仕様書</a>
      </li>
      <li class="sub_menu" style="display: none;">
        <a href="../../<%= b %>/coverage/rcov/index.html" target="_blank">カバレッジ</a>
      </li>
    <% end %>
  </ol>
<% end %>
